# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# 🛡 Briefly Secrets
service-account.json
.env
# NOTE: google-services.json is NOT ignored here so it can be uploaded to EAS from the CI runner
.env.*

# 🛡 Recursive node_modules
**/node_modules/
